{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block content %}
	
	<dialog id="window">
		<h3>New Project</h3>
		<p>Name</p>
		<input type="text" name="projectname" id="projectname">
		<p>Description</p>
		<input type="text" name="projectdescription" id="projectdescription">
		<div>
			<button id="submit">Submit</button>
			<button id="close">Close</button>
		</div>
	</dialog>
	<dialog id="json">
		<div><h3>Enter log data</h3></div>
		<div class="submisssionfield "><textarea class='submisssionfield' name="entry" id="jsonEntry"></textarea></div>
		<div>
			<button id="jsonSubmit">Submit</button>
			<button id="jsonHelp">Help</button>
			<button id="jsonClose">Close</button>
		</div>
	</dialog>
	<dialog id="help">
	<div><h3>Format Required for JSON Data</h3></div>
	<p>{"uuid":number,   (only needed if you want each log to have a unique ID)</p>
	<p>		"events":[{</p>
	<p>			"name":(event Name), "data_stamp": (event date stamp, see note), "metadata":{(can be empty)}</p>
	<p>		}, (can have more events after the first)],</p>
	<p>		"metadata":{(can be empty)}</p>
	<p>}</p>
	<button id="helpClose">Close</button>
	</dialog>
	<h2>Projects</h2>
	<p> Hello {{ username }}, these are your projects: </p>

	{% for project in project_list %}
	<div>
		<h3> {{ project.name}}</h3>
		<p> {{ project.description}}</p>
		<div><button class="logButton" id="{{project.uuid}}">Add Log</button></div>
		<div><a href = "/projects/{{project.uuid}}/visualisation"> Project ID {{project.uuid}}</a></div>
	</div>
	{%endfor%}
	<button id="show"> New Project</button>
	<a href ="/logout"> Logout </a>

	{% load staticfiles %}
	<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
