body{
	background-color: #CCC;
}

.chart{
	background-color: #fff;
	border: 1px solid #999;
	height: 80%;
	width: calc(75% - 15px);
}

.logOut{

	background-color: #fff;
	border: 1px solid #999;
	color: #722;
	width: calc(25% - 15px);
	float: right;
}


svg {
  background-color: #fff;
  color: #000;
}

.node {
    fill: #ccc;
}

.node_selected {
    fill: #ccc;
    stroke: #722;
    stroke-width: 2px;
}

.circle_mouseover{
	fill: #c00;
    stroke: #fff;
    stroke-width: 2px;
}

.circle_root{
	fill: #f0f;
	stroke: #fff;
    stroke-width: 2px;
}

.circle_root_selected{
	fill: #f0f;
	stroke: #722;
    stroke-width: 2px;
}

.node_selected_mouseover{
	fill: #c00;
	stroke: #722;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.node text {
	fill: #C00;
}