#sign_up {
	width: 400px;
	position: relative;
	margin: auto auto;
	background: #939393;
	padding: 10px;
	border-radius: 5px;
}

form{
	padding: 10px 70px;
	width: 400px;
}

label{
	display: block;
	position: relative;
	left: 0px;
	padding: 6px;
}

input{
	display: block;
	position: relative;
	left: 0px;
	border-radius: 3px;
	border-width: 1px;
	width: 240;
	height: 30px;
}

input[type="submit"] {
	margin-top: 20;
}