<style>
			#sign_up {
				width: 400px;
				position: absolute;
				margin: auto auto;
			}
			
			label{
				position: relative;
				left: 0px;
			}
			
			input{
				position: relative;
				left: 0px;
			}
		</style>