#freqText{
	color: black;
	font-weight: bold;
}

.buttonPanel{
	padding: 10px 0px 0px;
}

.chart{
	background-color: #fff;
	border: 1px solid #999;
	height: 80%;
}

.logOut{

	background-color: #fff;
	border: 1px solid #999;
	color: #722;
	height: 80%;
	float: right;
}


svg {
  border: 1px solid #999;
  background-color: #fff;
  color: #000;
}

.node {
    fill: #ccc;
}

.node_selected {
    fill: #ccc;
    stroke: #f0f;
    stroke-width: 2px;
}

.circle_mouseover{
	fill: #ff0;
    stroke: #fff;
    stroke-width: 2px;
}

.circle_root{
	fill: #0f0;
	stroke: #fff;
    stroke-width: 2px;
}

.circle_root_selected{
	fill: #0f0;
	stroke: #f0f;
    stroke-width: 2px;
}

.circle_end{
	fill: #f00;
	stroke: #fff;
	stroke-width: 2px;
}

.circle_end_selected{
	fill: #f00;
	stroke: #f0f;
	stroke-width: 2px;
}

.node_selected_mouseover{
	fill: #ff0;
	stroke: #f0f;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.node text {
	fill: #C00;
}
dialog {  
    width: 500px;  
    background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}  