{% extends 'base.html' %}

{% block title %} !Evil Watchdogs - BAM {% endblock %}

{% block content %}

	<h2>Business Analysis Modeller</h2>
	<!-- introduction paragraph, describing what this does -->
	<p> This site is provides a tool that can be used to help users analyse processes and understand them more thoroughly. </p>
	<!-- links to register / login-->
	<p>If you would like to register and start your own projects today, click below! It's free! </p>
	<button type="button" class="customButton" onclick="location.href='/signup';">Register</button> 

	<p>Already registered?</p>
	<button type="button" class="customButton" onclick="location.href='/login';">Login</button>
	
{% endblock %}
