{% extends 'base.html' %}

{% block title %} Visualisation {% endblock %}
{% block stylesheets %} 
{% load staticfiles %}
<!--visualisation css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/visualisation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'slider/d3.slider.css' %}">
{% endblock %}

{% block content %}
	<dialog id="json">
		<div><h3>Enter log data</h3></div>
		<div class="submisssionfield "><textarea class='submisssionfield' name="entry" id="jsonEntry"></textarea></div>
		<div>
			<button id="jsonSubmit">Submit</button>
			<button id="jsonHelp">Help</button>
			<button id="jsonClose">Close</button>
		</div>
	</dialog>
	<dialog id="help">
	<div><h3>Format Required for JSON Data</h3></div>
	<p>{"uuid":number,   (only needed if you want each log to have a unique ID)</p>
	<p>		"events":[{</p>
	<p>			"name":(event Name), "data_stamp": (event date stamp, see note), "metadata":{(can be empty)}</p>
	<p>		}, (can have more events after the first)],</p>
	<p>		"metadata":{(can be empty)}</p>
	<p>}</p>
	<button id="helpClose">Close</button>
	</dialog>
	<h2>Visualisation</h2>
	<h2> {{ p_name }} </h2>
	<p> {{ p_description }} </p>
	<!--Buttons, logout, projects, add log -->
	<div>
	<button id='logButton'>Add Log</button>
	<button onclick="location.href = '/projects';">Projects</button>
</div>
</br>
{% endblock %}


{% block scripts %}
<script>
	var storedTrie;
	{% if test %}
		var test = true;
	{% else %}
	    var test = false;
	    var p_uuid = "{{ p_uuid }}";
	{% endif %}
	var activeID = "{{p_uuid}}";

</script>
{% load staticfiles %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src = "{% static 'slider/d3.min.js' %}"></script>
<script src = "{% static 'slider/d3.slider.js' %}"></script>
<script src = "{% static 'js/auto_chart.js' %}"></script>
<script src = "{% static 'js/get_input.js' %}"></script>
<script src = "{% static 'js/buttons.js' %}"></script>
<script src = "{% static 'js/filter.js' %}"></script>
<script src = "{% static 'js/visualisation.js' %}"></script>

{% endblock %}
